<h1><em>The cocktail is:</em> <strong><%= @cocktail.name %></strong></h1>



<br>
<br>

<% @cocktail.doses.each do |dose|%>
    <p>
      Description: <strong><%= dose.description %></strong> of
        <strong><%= dose.ingredient.name %></strong>
        <%= link_to "Delete dose", cocktail_dose_path(dose),
          method: :delete, class: "btn btn-danger" %>
    </p>
    <br>
<% end %>


<%= simple_form_for [@cocktail, @dose] do |f| %>
<%= f.association :ingredient %> <br>
<%= f.input :description %> <br>
<%= f.submit "Add dose and ingredient", class: "btn btn-primary" %>
<% end %>

<br>
<br>

<%= link_to "Go back to homepage", cocktails_path, class: "btn btn-warning" %>


